.cuadrado-radius{
    width: 50px;
    height: 50px;
    background-color:#41a02a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.img-container-radius{
    width: 90%;
    height: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container-radius span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    color: white
}